node_modules
**/node_modules
.next
**/.next
out
dist
coverage
**/*.tsbuildinfo

.git
.github
.vercel
.turbo

.env
.env.aws
.env.*
!.env.example
!.env.aws.example

.uploads
.DS_Store
*.log
docs/readme
